@font-face {
	font-family: Frutiger;
	src:	url("FrutigerLTW01-55Roman.woff2") format("woff2"),
		url("FrutigerLTW01-55Roman.woff") format("woff");
}

* { font-family:inherit; }

body { font-family:Frutiger; background-color:#f0f4f5; }
